<section class="hub-snippet">
  <header class="hub-snippet__header">
    <img src="{{  mission.data.snippeticon}}" alt="">
    <h2>{{  mission.data.author}}</h2>
    <img src="{{  mission.data.snippeticon}}" alt="">
  </header>
  <div class="hub-snippet__body">
    <p class="lead">
      {{  mission.data.montra}}
    </p>
    <div class="highlights">
      <p>
      {{  mission.data.hubDescription}}
      </p>
    </div>
    <div class="hubBtns">
      <a href="{{ mission.data.hubLink}}" class="blogBtn hubBtn">{{ mission.data.visit}}</a>
    </div>
  </div>
</section>