<header class="post-header">
  <img id="lefticon" src="{{ snippeticon }}" alt="">
  <h1>{{ title }}</h1>
  <div id="google_translate_element"></div>
  <img id="righticon" src="{{ snippeticon }}" alt="">
  <div id="darkMode">
    <div class="darkMode">
      <span id="darkMode-btn" class="darkMode__btn"></span>
    </div>
    <p>Dark Mode</p>
  </div>
</header>