<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&family=The+Nautigal:wght@400;700&family=Titan+One&display=swap" rel="stylesheet"> 
  <title>The HOBO HUB</title>
  <link rel="stylesheet" href="/style.css">
  <script defer src="/js/darkMode.js"></script>
</head>
<body id="darkModeBg" data-darkMode="light">

  {% include "hub-header.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

  <script type="text/javascript">
  function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>