<ul class="hubLinks">
  <li class="hubLink" id="sallysIcon">
    <a href="/sallysBlog"><img src="./assets/icons/icons8-jacket-48.png" title="Shopping Cart Sally"/></a>
    <p>Clothing, Personal</p>
  </li>
  <li class="hubLink" id="timsIcon">
    <a href="/timsBlog"><img src="./assets/icons/icons8-banknotes-48.png"title="Tin Can Tim"/></a>
    <p>Employment, Support</p>
  </li>
  <li class="hubLink" id="tinasIcon">
    <a href="/tinasBlog"><img src="./assets/icons/icons8-tent-64(1).png" title="Tent City Tina"/></a>
    <p>Shelter, Housing</p>
  </li>
  <li class="hubLink" id="feelgoodIcon">
    <a href="/feelgoodBlog"><img src="./assets/icons/icons8-health-64.png" title="Dr. Feelgood"/></a>
    <p>Health</p>
  </li>
  <li class="hubLink" id="lunchboxIcon">
    <a href="/larrysBlog"><img src="./assets/icons/icons8-hamper-48.png" title="Lunch Box Larry"/></a>
    <p>Food</p>
  </li>
  <li class="hubLink" id="legalIcon">
    <a href="/dchBlog"><img src="./assets/icons/icons8-balance-scale-48.png" title="Duey Cheatem Howe"/></a>
    <p>Legal</p>
  </li>
</ul>