---
title: Red Deer Ricky
layout: 'base.njk'
---

<section class="hubNav">
  <h2 class="logoBrand">HOBO HUB</h2>
  {% include "hubLinks.njk" %}
</section>

<section class="quickLinks">
  <div class="quickLink quickLeft dailyLink">
    <p>Check the Menu</p>
    <h3 class="quickLink__header">"Over There"</h3>
    <ul>
      {%- for DailyMeals in collections.DailyMeals | reverse  -%}
        {% include "meal-snippet.njk" %}
      {%- endfor -%}
    </ul>
  </div>
  <div class="quickLink quickRight emergencyLink">
    <h3 class="quickLink__header">Emergency #'s</h3>
    <ul>
      <li><a href="tel:403-347-0181">Detox</a></li>
      <li><a href="tel:403-340-5466">Mental Health</a></li>
      <li><a href="tel:403-341-3190">49 St. Youth Shelter</a></li>
      <li><a href="tel:403-346-5643">Women's Emergency Shelter</a></li>
      <li><a href="tel:403-705-3250">Elder Abuse Resource Line</a></li>
      <li><a href="tel:211">Alberta Help Lines 211</a></li>
    </ul>
  </div>
</section>


<section class="welcome">
    <p class="lead">
      Check out the <span>HOBO HUB</span>...
    </p>
    <p>
      The <span>HOBO Hub</span> is a community for sharing information on services to the homeless, low-income and needy.
    </p>
    <p>
      We have 6 NPC Guides to help you find the resources you need, We don't offer any direct services ourselves, we are but only humble guides in your journey. You can connect to them directly by clicking on the assocciated icon within the <span>HOBO HUB</span> above or continue to their bio section below for more information.
    </p>
</section>

<section class="chapter">
  <h2 class="chapterHeader">NPC Guides</h2>
  <section class="hubSections">
  {%- for mission in collections.mission -%}
    {% include "hub-snippet.njk" %}
  {%- endfor -%}
</section>
