---
  title: Lunch Box Larry
  layout: "base.njk"
  montra: Larry's Mission
---

<section class="welcome">
  <p class="lead">Hello I'm Lunch Box Larry</p>
  <p>
    Did you eat today? Do you need to eat or fill your cupboards?
  </p>
  <p>
    Scroll through my post to see if there is someone that can help. There are lots of resources throughout the city. 
  </p>
</section>

<section class="chapter">
  <ul>
    {%- for post in collections.larryspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>