---
  title: Tent City Tina
  layout: "base.njk"
  montra: Tina's Mission
---

<section class="welcome">
  <p class="lead">Hello I'm Tent City Tina.</p>
  <p>
    I'm here to help you keep your smokes dry and you safe.
  </p>
  <p>
    Do you need shelter for the night or are looking for more permanent housing? Scroll through my post to see if there is an organization that fits your needs.
  </p>
</section>

<section class="chapter">
  <ul>
    {%- for post in collections.tinaspost | reverse -%}

    {% include "blog-snippet.njk" %}

    {%- endfor -%}
  </ul>
</section>